[Unit]
Description=Envoi des presences sur ticket

[Service]
Type=oneshot
ExecStart=/home/ubuntu/traitement-presences/upload.sh

[Install]
WantedBy=multi-user.target